.main {
  display: flex;
  align-items: flex-end;
  margin: 4px;
  height: 64px;
  color: #757575;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  outline: none;
}

.container {
  border: 1px solid #9e9e9e;
  height: 64px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  transition-property: background-color, transform, height;
  transition: 0.1s ease-out;

  &::after {
    content: "";
    display: block;
    height: 7px;
    border-top: 1px solid #9e9e9e;
    background-image: repeating-linear-gradient(
      45deg,
      #9e9e9e,
      #9e9e9e 2px,
      transparent 2px,
      transparent 6px
    );
  }
}

.main:hover .container,
.main:focus .container {
  background-color: #ede7f6;
}
.main:hover .container {
  height: 62px;
}
.main:active .container {
  height: 56px;
}

.primary {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 54px;
}

.logo {
  margin-right: 12px;
  height: 32px;
  pointer-events: none;
}
